.svn
.DS_Store
._*
.LSOverride
.AppleDouble
*~
*.suo
*.ncb
*.ilk
*.pdb
*.perspectivev3
*.pbxuser
*.xcuserstate
*.o
*.app
build
arch-*
xwingrev
xwingrev_*
xwingrev.exe
XWing.build
X-Wing Revival*.exe
X-Wing Revival*.map
X-Wing Revival.elf
*.cfg
std*.txt
